header nav ul li {
  background-color: blue;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  header nav ul li {
    display: inline-block;
    background-color: blue;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul li {
    display: block;
    background-color: blue;
  }
}
