header nav ul li {
  background-color: blue;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  header nav ul {
    /* display: inline-block; */

    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: blue;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: blue;
  }
}

.flexbox {
  display: flex;
  border: 2px solid black;
  background-color: red;
}

.flexbox div {
  border: 2px solid black;
  background-color: yellowgreen;
  flex-basis: 100px;
  flex-shrink: 0;
  &:nth-child(1) {
    flex-grow: 1;
  }
  &:nth-child(2) {
    flex-grow: 2;
  }
  &:nth-child(3) {
    flex-grow: 1;
  }
}
